body {
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-weight: bold;
}

.card {
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}
